*{
    margin:0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family:  'Open Sans', sans-serif;
}

body{
    background-color: #131313;
    min-height: 100vh;
} 

main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    background-color: #F5F5F5;
}

#other__description{
    margin-left: 0.33rem;
}

form h1{
    color: rgb(146, 194, 19);;
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

main form{
    display: flex;
    flex-direction: column;
    align-items: left;

}

main form label.text_input{
    display: flex;
    flex-direction: column;
}

main form label span{
    font-size: 1.1rem;
    margin-top: 2rem;

}
main form span{
    margin-top: 2rem;
    margin-left: 0.33rem;
    color: #696969;
    font-size: 1.1rem;
}
main form label input{
    width: 100vh;
    height: 25px;
    padding: 0 0.5rem;
    margin-left: 0.4rem;
}

input{
    margin: 0.4rem 0.4rem;
    background-color: white;
    border: 1px solid black;
}
div label{
    color:#696969;
    
}

.button{
    font-size: 2rem;
    padding: 10px 20px;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 2px;
    background: rgb(146, 194, 19);
    color: white;
}

#article_description{
    height: 100px;
    width: 500px;
}

#article_file_upload{
    color:black;
    margin-bottom: 2rem;
}

textarea{
    background-color: white ;
    padding: 0 0.5rem;
    margin-left: 0.4rem;
    border: 1px solid black;
}

@media screen and (max-width:1024px){
    main form label input{
        width: 380px;
        height: 25px;
        padding: 0 0.5rem;
    }

    #article_description{
        height: 100px;
        width: 300px;
    }

}